@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

/* ==========================================================================
   Colour variables
   ========================================================================== */

/* Theme customisation */
:root {
  --border-color: rgba(255, 255, 255, 0.2);
}

.modal._flyoutContainer_18doz_1._profileSettingsShown_18doz_42 {
  --primary-color: var(--primary-color) !important;
  --background-color: var(--pane-color) !important;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

body {
  accent-color: var(--primary-color);
  font-family: "Delius" !important;
}

/* ==========================================================================
   Settings sidebar
   ========================================================================== */

/* Sidebar buttons */

.go3719686344 {
  background-color: var(--pane-color) !important;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-top: 6px;
  margin-right: 6px;
  margin-left: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.go3719686344:hover {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 6px;
  margin-right: 6px;
  margin-left: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  transform: scale(1.025);
  transition: transform 0.2s ease;
}

/* Selected sidebar button */

.go765773769.go3158075832 {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 6px;
  margin-right: 6px;
  margin-left: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Sidebar source, changes, and logout buttons */

.go4099122902 {
  border: solid 2px var(--border-color);
}

/* Sidebar call menu */

.go2417012679.go476946538 {
  background-color: var(--pane-color) !important;
  border: solid 2px var(--border-color);
}

/* Hide version info */

.go3196304228.go476946538 {
  display: none;
}

/* Support button */

.go197466023.go3463187318 {
  border: solid 2px rgba(0, 0, 0, 0);
}

/* Custom tick box */

._container_1pcie_29._selected_1pcie_41 ._checkbox_1pcie_1 {
  position: relative;
  color: rgba(0, 0, 0, 0,);
}

._container_1pcie_29._selected_1pcie_41 ._checkbox_1pcie_1::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 8px;
  border-right: 2px solid var(--background-color);
  border-bottom: 2px solid var(--background-color);
  transform: translate(-50%, -60%) rotate(45deg);
  pointer-events: none;
}

/* ==========================================================================
   Settings pages
   ========================================================================== */

/* Notice container border */

._noticeContainer_71hzv_1 {
  border: solid 2px var(--border-color);
}

/* Support button */

.go398351937.go3463187318 {
  background: var(--pane-color) !important;
  border: solid 2px var(--border-color);
}

/* Settings and home button */

.go197466023.go3158075832 {
  border: solid 2px var(--border-color);
}

/* Reset and forgot password font */

.go3787796972 {
  font-family: "Delius" !important;
}

/* Markdown box */

.go2970725944 {
  background: var(--pane-color) !important;
  border-radius: 6px;
}

.go2701703472.go476946538 {
  border: solid 2px var(--border-color);
}

._container_1ctlh_1 {
  margin-top: 8px;
}

.go2701703472.go476946538 {
  border-radius: 6px !important;
}

/* Markdown box formatting options */

body.disableBlur._container_1ctlh_1 {
  border: solid 2px var(--border-color);
  background: var(--pane-color) !important;
  border-radius: 6px;
}

._container_1ctlh_1 {
  border: solid 2px var(--border-color);
  background: var(--pane-color) !important;
  border-radius: 6px;
  margin-top: 10px !important;
  margin-bottom: 6px !important;
}

.go2260755471.go2260755471 {
  border-radius: 6px !important;
}

/* Notification sound box background */

._box_16e2h_14 {
  border: solid 2px var(--border-color);
  background-color: rgba(0, 0, 0, 0);
}

/* Text box and dropdown background */

.go207319105 {
  background-color: rgba(0, 0, 0, 0);
}

.go2853948815 {
  border: solid 2px var(--border-color);
  background: var(--pane-color) !important;
}

/* Circle buttons */

.go2830620422.selected {
  background: var(--pane-color) !important;
}

._checkbox_1pcie_1 {
  border: solid 2px var(--border-color);
}

.go3066892852 {
  border: solid 2px var(--border-color);
  background: var(--pane-color) !important;  
}

/* Username Box */

.go158536209 {
  background-color: var(--pane-color);
}

/* ==========================================================================
   Homepage
   ========================================================================== */

/* Explore and homepage buttons */

._itemRoot_1myzs_1._item_a5j9u_14 {
  background-color: var(--pane-color) !important;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

._itemRoot_1myzs_1._item_a5j9u_14:hover {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  transform: scale(1.025);
  transition: transform 0.2s ease;
}

._itemRoot_1myzs_1._item_a5j9u_14[data-selected="true"] {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Scrollbar */

._scrollbarContainer_1oc1z_1.go2444711767 {
  display: none;
}

/* Notes, add friends, and blocked buttons */

.go95389665._horizontalItem_a5j9u_157 {
  background-color: var(--pane-color) !important;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.go95389665._horizontalItem_a5j9u_157:hover {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  transform: scale(1.025);
  transition: transform 0.2s ease;
}

.go95389665._horizontalItem_a5j9u_157[data-selected="true"] {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
}

/* Friends list */

._itemRoot_1myzs_1._friendContainer_12n0h_59 {
  background-color: var(--background-color-color) !important;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
}

._itemRoot_1myzs_1._friendContainer_12n0h_59:hover {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  transform: scale(1.025);
  transition: transform 0.2s ease;
}

._itemRoot_1myzs_1._friendContainer_12n0h_59[data-selected="true"] {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
}

/* ==========================================================================
   Mobile
   ========================================================================== */

/* Phone navigation bar */

.mobileBottomPane._container_jg952_1._show_jg952_19 {
  border: solid 2px var(--border-color);
  margin-top: 12px;
}

.go2701703472 {
  background-color: var(--pane-color) !important;
}

.go2701703472.go476946538 > .go2970725944 {
  border: solid 2px rgba(0, 0, 0, 0) !important;
}

/* ==========================================================================
   Messaging
   ========================================================================== */

/* Pop-up menu */

._floatOptions_12hk8_107.floatOptions {
  border: solid 2px var(--border-color);
}

/* Back-to-bottom pop-up */

._messageArea_1pciz_150 ._backToBottom_1pciz_8 {
  border: solid 2px var(--border-color) !important;
}

/* Misc button outline */

._container_1qike_1 {
  border: solid 0px var(--border-color) !important;
}

/* Messaging box */

._textAreaContainer_1pciz_4._advancedMarkupShown_1pciz_408 {
  border: solid 2px var(--border-color) !important;
  border-radius: 6px !important;
}

/* Screenshare Menu */

.modal._modalContainer_1mw2a_14 {
  border: solid 2px var(--border-color) !important;
}

.go2521613729.go476946538 {
  background-color: var(--pane-color) !important;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.go2521613729.go476946538:hover {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  transform: scale(1.025);
  transition: transform 0.2s ease;
}

.go643849226.go476946538 {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;  
}
/* Markdown options */

._container_1ctlh_1._zeroBottomBorderRadius_1ctlh_20 {
  border-radius: 6px !important;
  margin-bottom: 6px;
}

/* Emoji menu background */

._emojiPicker_19p1i_65 {
  background-color: var(--pane-color) !important;
}

/* Emoji menu heading background */

.go293357438 {
  background-color: rgba(255, 255, 255, 0.1);
}

.go1412065832 {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Gif Picker Menu */

body.disableBlur ._outerEmojiPicker_19p1i_1:before {
  background-color: var(--pane-color);
}

._outerEmojiPicker_19p1i_1:before {
  background-color: var(--pane-color);
}

/* Gif Picker Logo*/

._poweredByKlipy_19p1i_78 {
  display: none;
}

/* Right-click menu */

._contextMenu_7km1c_1 {
  border: solid 2px var(--border-color) !important;
}

/* Profile outline */

._flyoutInnerContainer_18doz_21 {
  outline: 0px solid #fff3 !important;
}

/* Server invite */

._serverInviteEmbed_12hk8_580 {
  border: solid 2px var(--border-color) !important;
  margin-top: 6px;
}

/* YouTube embed */

._youtubeEmbed_12hk8_730 {
  border: solid 2px var(--border-color) !important;
  margin-top: 6px;
}

._ogEmbedContainer_12hk8_460 {
  border: solid 2px var(--border-color) !important;
  margin-top: 6px;  
}

/* Search Bar */

._quickTravelBody_ibtgw_8 .go2853948815 {
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom: solid 2px var(--border-color) !important;
}

._quickTravelBody_ibtgw_8 .go3066892852 {
  background-color: rgba(0, 0, 0, 0) !important;
  border-bottom: solid 2px var(--border-color) !important;
}

._modalRoot_3dw2n_11._quickTravelRoot_ibtgw_1 {
  border: solid 2px var(--border-color) !important;
}

.go2970725944 {
  font-family: "Delius" !important;
}

/* General Searchbar Font */

.go1741493984 input {
  font-family: "Delius" !important;
}

/* ==========================================================================
   Nerimity servers
   ========================================================================== */

/* Server channel list */

.go2336239359.go3463187318 {
  background-color: var(--pane-color) !important;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.go2336239359.go3463187318:hover {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  transform: scale(1.025);
  transition: transform 0.2s ease;
}

/* Selected channel */

.go3747175756.go3158075832 {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Alerted channels */

.go2336239359.go2683701063 {
  background-color: var(--pane-color) !important;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.go2336239359.go2683701063:hover {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  transform: scale(1.025);
  transition: transform 0.2s ease;
}

/* Selected alerted channel */

.go3747175756.go1332526169 {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Server settings sidebar */

.go2953153364.go3463187318 {
  background-color: var(--pane-color) !important;
  border: solid 2px rgba(0, 0, 0, 0);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.go2953153364.go3463187318:hover {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  transform: scale(1.025);
  transition: transform 0.2s ease;
}

/* Selected server setting */

.go4294208085.go3158075832 {
  background-color: var(--drawer-item-hover-background-color) !important;
  border: solid 2px var(--border-color);
  margin-top: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
  margin-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
}
